display-great {
    display: none;
	}
	
	.display-medium {
	display: none;
	}
	.display-mini {
	display: none;
	}
	
	.menu {
	padding-left: 0;
	}
	
	.menu {
	display: inline;
	list-style-type: none;
	}


<style>
.prilista{
	background-color:black;padding:15px;border-radius:20px;
}
.prilista ul {
	list-style:none;margin:10;padding:0;display:flex;gap:25px;justify-content:flex-start;
}
.prilista a{text-decoration:none;color:black;font-family:arial;font-weight:bold;
transition:color 0.3s, transform 0.2s;display:inline-block;
				   }
.prilista a:hover{
	color:green;transform:translateY(-2px);
}
</style>

td{
	padding:5px;font-style:oblique;font-size:25px;
}

.todos{
	background-color:yellow;margin:10;
}
.aceites{
	background-color:blue;
}
.vibradores{
	background-color:red;
}
.consoladores{
	background-color:pink;
}

<style>
.nav-horizontal{
	background-color:black;padding;border-radius:8px;
}
.nav-horizontal ul {
	list-style:none;margin:0;padding:0;display:flex;gap:25px;justify-content:flex-start;
}
.nav-horizontal a{text-decoration:none;color:black;font-family:arial;font-weight:bold;
transition:color 0.3s, transform 0.2s;display:inline-block;
				   }
.nav-horizontal a:hover{
	color:green;transform:translateY(-2px);
}
</style>








<style>
.segundalista{
	background-color:black;padding:15px;border-radius:8px;
}
.segundalista ul {
	list-style:none;margin:0;padding:0;display:flex;gap:25px;justify-content:flex-start;
}
.segundalista a{text-decoration:none;color:black;font-family:sans-serif;font-weight:bold;
transition:color 0.3s, transform 0.2s;display:inline-block;
				   }
.segundalista a:hover{
	color:pink;transform:translateY(-2px);
}
</style>
<style>
.tercera-lista{
	background-color:black;padding:15px;border-radius:8px;
}
.tercera-lista ul {
	list-style:none;margin:0;padding:0;display:flex;gap:25px;justify-content:flex-start;
}
.tercera-lista a{text-decoration:none;color:black;font-family:sans-serif;font-weight:bold;
transition:color 0.3s, transform 0.2s;display:inline-block;
				   }
.tercera-lista a:hover{
	color:pink;transform:translateY(-2px);
}
</style>







<style>
.cuarta-lista{
	background-color:black;padding:15px;border-radius:8px;
}
.cuarta-lista ul {
	list-style:none;margin:0;padding:0;display:flex;gap:25px;justify-content:flex-start,
}
.cuarta-lista a{text-decoration:none;color:black;font-family:sans-serif;font-weight:bold;
transition:color 0.3s, transform 0.2s;display:inline-block;
				   }
.cuarta-lista a:hover{
	color:pink;transform:translateY(-2px);
}
</style>

