body {
      color: black;
	  }
	  
	  a, a:link, a:visited, a:active a:hove {
	  color:blue;
	  }
	  
	  header {
	  background-color:green;
	  }
	  
	  nav {
	   background-image:url(dinero-signo-del-dolar.jpg);
	   }
	   
	   section {
	   background-color:yellow;
	   }
	   
	   footer {
	   background-color: pink;
	   }
