body {
      color: pink;
	  }
	  
	  a, a:link, a:visited, a:active a:hove {
	  color:blue;
	  }
	  
	  header {
	  background-color:green;
	  }
	  
	  nav {
	   background-color: red;
	   }
	   
	   section {
	   background-color:yellow;
	   }
	   
	   footer {
	   background-color: #fb8335;
	   }
